:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-6: #f2f2f2;
  --bg-gray: #e0e0e0;
  --footer-gray: #a9a9a9;
  --blue-1: #2d9cdb;
  --red-1: #eb5757;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: 1px solid var(--gray-4);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;

  padding: 1.25rem 1rem 0;
}
